html, body {
  margin: 0;
  padding: 0;
  background-color: rgb(245, 167, 167);
}

html {
    font-size: 14 px;
}

/* FONTS */
@font-face {
  font-family: 'SequentialistBB';
  src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/306FA6_1_0.woff2') format('woff2'),
  url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/306FA6_0_0.woff') format('woff');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'SequentialistBB';
  src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/306FA6_0_0.woff2') format('woff2'),
  url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/306FA6_0_0.woff') format('woff');
  font-style: italic;
  font-weight: 400;
}


* {
box-sizing: border-box;
}

body {
  font-family: SequentialistBB, cursive;
  font-size: 2.5vw;
  margin: 7rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tooltip {
  font-size: 3rem;
  display: inline;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #444;
  border-radius: 3rem;
  color: #fff;
  padding: 2rem 4rem;
  width: 50rem;
}

.tooltip:before{
  border: solid;
  border-color: #444 transparent;
  border-width: 6rem 3rem 0 6px;
  content: "";
  right: 4rem;
  bottom: -6rem;
  position: absolute;
}